<template>
  <div
    class="v-details"
  >
    <h2
      v-if="title"
      class="v-details__name"
    >
      Name: {{ title }}
    </h2>

    <ul
      v-for="item in items"
      :key="item.label"
      class="v-details__items"
    >
      <li class="v-details__item">
        <h3 class="v-details__item-label">
          {{ item.label }}
        </h3>

        <ul
          v-if="Array.isArray(item.value)"
          class="v-details__item-sublist"
        >
          <li
            v-for="subitem in item.value"
            :key="subitem"
            class="v-details__item-subitem"
          >
            {{ subitem }}
          </li>
        </ul>

        <p v-else>
          {{ item.value }}
        </p>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Details } from '@/types'
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class VDetails extends Vue {
  @Prop() readonly title!: Details['title']
  @Prop() readonly items!: Details['items']
}

</script>
