<template>
  <ul class="v-list">
    <li
      v-for="item in items"
      :key="item.url"
      class="v-list__item"
      :class="{'v-list__item--active': item.text === currentDetailsName }"
    >
      <button
        class="v-list__button"
        @click="$emit('list-item-click', item.url)"
      >
        {{ item.text }}
      </button>
    </li>
  </ul>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

import { ListItem } from '@/types'

@Component
export default class VList extends Vue {
  @Prop() readonly items!: ListItem[];
  @Prop() readonly currentDetailsName!: string;
}

</script>

<style lang="scss">
.v-list {
  $CLASS_BASE: &;

  margin-top: 20px;

  &__item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 7px 10px;
    background-color: #eee;
    transition: background-color .2s, color .2s ;

    &:hover {
      background-color: #ddd;
      cursor: pointer;
    }

    #{$CLASS_BASE}__item--active & {
      background-color: dodgerblue;
      color: white;
    }
  }
}
</style>
