<template>
  <div id="app">
    <div class="container">
      <div class="col">
        <button
          v-for="(value, key) in listUrls"
          :key="key"
          class="app__button"
          :class="{
            'app__button--active': key === currentView
          }"
          @click="changeView(key)"
        >
          Show {{ value.buttonText }}
        </button>

        <VList
          v-show="!fetching"
          :items="list"
          :current-details-name="details.title"
          @list-item-click="fetchDetails"
        />

        <div
          v-show="fetching"
          class="app__fetch-message"
        >
          Fetching list...
        </div>
      </div>

      <div class="col">
        <VDetails
          :title="details.title"
          :items="details.items"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import axios from 'axios'
import VList from './components/VList.vue'
import VDetails from './components/VDetails.vue'

import { Details, ListItem } from '@/types'

const listUrls = {
  POKEMONS: {
    url: 'https://pokeapi.co/api/v2/pokemon',
    buttonText: 'Pokemons'
  },
  STAR_WARS_CHARS: {
    url: 'https://swapi.dev/api/people',
    buttonText: 'Star Wars Characters'
  }
} as const

type Views = keyof typeof listUrls

type Response = {
  results: {name: string, url: string}[]
}

@Component({
  components: {
    VList,
    VDetails
  }
})
export default class App extends Vue {
  // Set first list from the configuration object as initial view.
  currentView: Views = Object.keys(listUrls)[0] as Views

  // Adding object to component instance to access it in template.
  listUrls = listUrls
  fetching = false

  list: ListItem[] = []

  details: Details = {
    title: '',
    items: []
  }

  created (): void {
    this.fetchList(this.currentView)
  }

  changeView (viewId: Views): void {
    // Do nothing if selected current view.
    if (viewId === this.currentView) return
    this.currentView = viewId
    this.details.title = ''
    this.details.items = []

    this.fetchList(viewId)
  }

  fetchList (viewId: Views): Promise<unknown> {
    this.fetching = true

    return axios.get(listUrls[viewId].url)
      .then(({ data }) => {
        const results = (data as Response).results

        if (!results || !Array.isArray(results)) return

        this.list = results.map((item) => ({ text: item.name, url: item.url }))
        this.fetching = false
      })
  }

  fetchDetails (url: string): Promise<unknown> {
    // this.fetching = true

    return axios.get(url)
      .then(({ data }) => {
        if (this.currentView === 'POKEMONS') {
          const { name, height, moves } = data

          this.details = {
            title: name,
            items: [
              {
                label: 'Height',
                value: height
              },
              {
                label: 'Moves',
                value: moves.map((move: { move: { name: string }}) => move.move.name)
              }

            ]
          }
          return
        }

        // Assuming Current View is Star Wars.
        const { name, height, mass, birth_year: birthYear } = data

        this.details = {
          title: name,
          items: [
            {
              label: 'Height',
              value: height
            },
            {
              label: 'Mass',
              value: mass
            },
            {
              label: 'Birth Year',
              value: birthYear
            }
          ]
        }
        // this.fetching = false
      })
  }
}
</script>

<style lang="scss">

body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.col {
  flex: 1 1 100%;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}

.app {
  &__button {
    border: 1px solid #ccc;
    padding: 5px 10px;
    transition: background-color .2s, color .2s ;

    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }

    &--active {
      background-color: #444;
      color: white;

      &:hover {
        background-color: black;
      }
    }
  }

  &__fetch-message {
    margin-top: 20px;
  }
}
</style>
